
services:
  web:
    build: docker/php

    ports:
      - "8741:80"
    volumes:
      - ./docker/php/vhosts:/etc/apache2/sites-enabled
      - .:/var/www/html
    restart: always
    networks:
      - app-network

  db:
    image: mysql:8.0
    restart: always
    container_name: db_symfony
    environment:
      MYSQL_DATABASE: mydb
      MYSQL_USER: user
      MYSQL_PASSWORD: pass
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - app-network
    ports:
      - "3306:3306"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin_symfony
    restart: always
    depends_on:
      - db
    environment:
      PMA_HOST: db
    ports:
      - "8081:80"
    networks:
      - app-network

volumes:
  mysql-data:

networks:
  app-network: